$color-gray-100: #f6f6f6;
$color-gray-200: #d1d3d4;
$color-gray-300: #a5a7aa;
$color-gray-400: #7e8083;
$color-gray-500: #4d4d4f;

// DEFAULT SPACING
$space-05: .25rem !default; // 4px
$space-1: .5rem   !default; // 8px
$space-2:   1rem  !default; // 16px
$space-3: 1.5rem  !default; // 24px
$space-4:   2rem  !default; // 32px
$space-5:   3rem  !default; // 48px
$space-6: 4.5rem  !default; // 72px

// TYPOGRAPHY
$base-font-size: 16px !default;
$regular: 400 !default;
$bold: 600    !default;

// FONTS
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: Georgia, serif !default;
$base-font-size: 16px !default;
