<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="fullbleed" content="<%= htmlWebpackPlugin.options.isFullbleed %>" />
    <meta property="slug" content="<%= htmlWebpackPlugin.options.project.slug %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>
  <body>
    <div class="page-container">
      <div class="top-bar">
        <h1 class="headline">Disc explorer</h2>
        <button id="discs-button" class="nav-item">Discs</button>
        <button id="throws-button" class="nav-item">Throws</button>
      </div>
      <div id="discs-view" class="view-container">
        <div class="filter-container">
        </div>
        <div class="chart"></div>
      </div>
      <div id="throws-view" class="view-container">
        <div class="filter-container">
        </div>
        <div class="chart"></div>
      </div>
    </div>
  </body>

</html>
